* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////////// header //////////////// */ 

.header-container {
background-image: url("image.png");
background-repeat: no-repeat;
background-size: cover;
height: 610px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-right: 152px;
    padding-top: 46px;
    text-transform: uppercase;

}
