* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

nav {
  width: 100%;
}
.nav-items {
  justify-content: flex-end;
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-item > a {
  color: white;
}

.nav-item:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.nav-item:hover > a {
  color: #e67e22;
}

.logo {
  padding-left: 10px;
}

.top-background {
  background-image: url(/assets/images/image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
  /* min-height: 400px;
  height: 100vh; */
}

.dark-overlay {
  /* height: 100vh;
  min-height: 400px; */
  background-color: rgba(0, 0, 0, 0.4);
}

.top-text-and-buttons {
  text-align: center;
  padding: 30px;
}

.background-img-text {
  color: #e67e22;
  margin-top: 15vh;
  font-size: 50px;
}

/* body {
  width: 100vh;
  height: 100vh;
  background: url("../images/REG-backImg.jpg") 0 0/100% 100% no-repeat;
} */

.signup-form {
  font-family: "Roboto", sans-serif;
  width: 700px;
  padding: 0 10px;
  margin: 50px auto;
  border-radius: 10px;
}

.form-header h1 {
  font-size: 39px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: chocolate;
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}
/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/

.horizontal-group .left {
  float: left;
  width: 49%;
}

.horizontal-group .right {
  float: right;
  width: 49%;
}

.form-group {
  margin-bottom: 20px;
}

.form-body .label-title {
  display: inline-block;
  color: chocolate;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  font-size: 17px;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: rgba(225, 225, 225, 0.6);
  outline: none;
}

::-webkit-input-placeholder {
  color: #d9d9d9;
}

/* Form Footer */
/*---------------------------------------*/

.form-footer {
  clear: both;
}

.signup-form .form-footer {
  text-align: right;
}

.form-footer span {
  float: left;
  margin-top: 10px;
  color: #999;
  font-style: italic;
  font-weight: thin;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: chocolate;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: chocolate;
}
