* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  color: crimson;
}

h2 {
  color: azure;
  text-align: center;
}

h3 {
  color: rgb(190, 190, 190);
  text-align: center;
}
body {
  background-color: black;
  color: rgb(69, 69, 69);
}

.header {
}
.navbar {
}
.services {
  padding-bottom: 50px;
}
.all-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.article-wrapper-gym {
}
.article-gym {
}
.paragraph-gym {
}
.article-wrapper-group-exercises {
}
.article-group-exercises {
}
.paragraph-group-exercises {
}
.article-wrapper-swimming-pool {
}
.article-swimming-pool {
}
.paragraph-swimming-pool {
}
.article-wrapper-personal-trainers {
}
.article-personal-trainers {
}
.paragraph-personal-trainers {
}
.article-wrapper-spa {
}
.article-spa {
}
.paragraph-spa {
}
.article-wrapper-for-kids {
}
.article-for-kids {
}
.paragraph-for-kids {
}

.article-wrapper-for-kids:hover,
.article-wrapper-group-exercises:hover,
.article-wrapper-gym:hover,
.article-wrapper-spa:hover,
.article-wrapper-personal-trainers:hover,
.article-wrapper-swimming-pool:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
