/*
Main Color: #FF3F34 Shade: #E6392F Tint: #FF5248
Grey Color: #E9E9E9 Shade: #737373 Tint: #F3F3F3

D

 */

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

nav {
  width: 100%;
}
.nav-items {
  justify-content: flex-end;
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-item > a {
  color: white;
}

.nav-item:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.nav-item:hover > a {
  color: #e67e22;
}

.logo {
  padding-left: 10px;
}

.top-background {
  background-image: url(/assets/images/image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
  height: 100vh;
  box-shadow: black inset;
}

.overlay {
  position: absolute;
  background-color: black;
  opacity: 0.2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.top-text-and-buttons {
  text-align: center;
  padding: 30px;
}

.button,
button:visited {
  transition: 0.5s;
  margin: 15px;
  width: 145px;
  height: 44px;
  background: rgba(233, 233, 233, 0.21);
  border: 1px solid #e67e22;
  box-sizing: border-box;
  border-radius: 200px;
}

.button:hover {
  margin: 15px;
  width: 145px;
  height: 44px;
  background: #e67e22;
  border: 1px solid #e67e22;
  box-sizing: border-box;
  border-radius: 200px;
}
.background-img-text {
  color: #e67e22;
}
