* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: orangered;
  min-height: 100vh;
}

header {
  font-size: 24px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 10px;
  font-size: 32px;
  border: none;
  background: white;
}

form button {
  color: orangered;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background: orangered;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 10px;
  background: white;
  color: orangered;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: white;
  color: orangered;
  border: 1px solid black;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.trash-btn:hover,
.complete-btn:hover {
  background: orangered;
  color: white;
}

.todo-item {
  padding: 0 8px;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(128px) rotateZ(20deg);
  opacity: 0;
}

main {
  padding: 40px 0;
}

main h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
